* {
    --background-color : #e3efff;
    --background-nav_color : #00224f;
}

a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.lesson {
    font-size: 1.5rem;
}

body {
    background-color: var(--background-color);
}

nav {
    background-color: var(--background-nav_color);
}